.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__picture {
    display: block;
    width: 30px;
    height: 30px;
    margin: auto 6px auto 0px;
    object-fit: cover;
}